<h2>Create New Post...</h2>


<%= form_for @post, url: {action: "create"}, html: {class: "new_post_form"} do |post| %>
  <p><h3>
    <div>
      <%= post.label 'Post Title' %>
      <%= post.text_field :title %>
    </div>
    <div>
      <%= post.label 'Post Content' %>
      <%= post.text_field :body %>
    </div>
    <div>
      <%= post.submit "Create" %>
    </div>
    </h3></p>
<% end %>