

<h2><%= @subreddit.title %></h2>

<h3>Description: <%= @subreddit.description%></h3>
<h3>Subscribers: <%= @subreddit.total_subscribers%></h3>
<h3><%= link_to "Add Post", :controller => :posts, :action => :new %>


<h4><% @subreddit.posts.each do |post| %>
    <p class = "posts"><%= link_to post.title, :controller => :posts, :action => :show, :id => post.id %></p>
<% end %>

